.tp-caption.insightfx_light{
		    position: absolute; 
			color: #444444; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 26px; 
			line-height: 26px;  
			padding: 4px;
            padding-left: 10px;
  			padding-right: 10px;
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(255, 255, 255, 0.9);	
			letter-spacing: 0px;										
		}

.tp-caption.insightfx_light_box{
			position: absolute; 
			color: #444444; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 26px; 
			line-height: 26px;  
			padding: 15px;
            padding-left: 20px;
  			padding-right: 20px;
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(255, 255, 255, 0.9);	
			letter-spacing: 0px;										
		}

.tp-caption.insightfx_dark{
			position: absolute; 
			color: #e8e8e8; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 26px; 
			line-height: 26px;  
			padding: 4px;
            padding-left: 10px;
  			padding-right: 10px;
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(0, 0, 0, 0.8);	
			letter-spacing: 0px;										
		}

.tp-caption.insightfx_dark_box {
			position: absolute; 
			color: #e8e8e8; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 26px; 
			line-height: 26px;  
			padding: 15px;
            padding-left: 20px;
  			padding-right: 20px;
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color: rgba(0, 0, 0, 0.8);	
			letter-spacing: 0px;										
		}

.tp-caption.insightfx_color{
			position: absolute; 
			color: #ffffff; 
			text-shadow: none; 
			font-weight: 300; 
			font-size: 26px; 
			line-height: 26px;  
			padding: 4px;
            padding-left: 10px;
  			padding-right: 10px;
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 	
			letter-spacing: 0px;										
		}

.tp-caption.big_white{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 36px; 
			line-height: 36px; 
			font-family: Arial; 
			padding: 0px 4px; 
			padding-top: 1px;
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color:#000;	
			letter-spacing: -1.5px;										
		}

.tp-caption.big_orange{
			position: absolute; 
			color: #ff7302; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 36px; 
			line-height: 36px; 
			font-family: Arial; 
			padding: 0px 4px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color:#fff;	
			letter-spacing: -1.5px;															
		}	
					
.tp-caption.big_black{
			position: absolute; 
			color: #000; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 36px; 
			line-height: 36px; 
			font-family: Arial; 
			padding: 0px 4px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color:#fff;	
			letter-spacing: -1.5px;															
		}		

.tp-caption.medium_grey{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 20px; 
			line-height: 20px; 
			font-family: Arial; 
			padding: 2px 4px; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			background-color:#888;		
			white-space:nowrap;	
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);		
		}	
					
.tp-caption.small_text{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 14px; 
			line-height: 20px; 
			font-family: Arial; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);		
		}
					
.tp-caption.medium_text{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 20px; 
			line-height: 20px; 
			font-family: Arial; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);		
		}
					
.tp-caption.large_text{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 40px; 
			line-height: 40px; 
			font-family: Arial; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);		
		}	
					
.tp-caption.very_large_text{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 60px; 
			line-height: 60px; 
			font-family: Arial; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			text-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
			letter-spacing: -2px;		
		}
					
.tp-caption.very_big_white{
			position: absolute; 
			color: #fff; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 60px; 
			line-height: 60px; 
			font-family: Arial; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			padding: 0px 4px; 
			padding-top: 1px;
			background-color:#000;		
					}	
					
.tp-caption.very_big_black{
			position: absolute; 
			color: #000; 
			text-shadow: none; 
			font-weight: 700; 
			font-size: 60px; 
			line-height: 60px; 
			font-family: Arial; 
			margin: 0px; 
			border-width: 0px; 
			border-style: none; 
			white-space:nowrap;	
			padding: 0px 4px; 
			padding-top: 1px;
			background-color:#fff;		
					}
					
.tp-caption.boxshadow{
		-moz-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		-webkit-box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
		box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
	}
											
.tp-caption.black{
		color: #000; 
		text-shadow: none;		
	}	
					
.tp-caption.noshadow {
		text-shadow: none;		
	}	
					
.tp-caption a { 
	color: #ff7302; text-shadow: none;	-webkit-transition: all 0.2s ease-out; -moz-transition: all 0.2s ease-out; -o-transition: all 0.2s ease-out; -ms-transition: all 0.2s ease-out;	 
}			
	
.tp-caption a:hover { 
	color: #ffa902; 
}

.tp-caption.insightfx_light p {
  			font-size: 14px;
  			font-family: open_sansregular,arial,sans-serif;
  			line-height: 20px;
  			margin-top: 10px;
  			letter-spacing: 0px;
  			color: #666666;
    	}  

.tp-caption.insightfx_light_box p {
  			font-size: 60%;
  			line-height: 20px;
  			margin-top: 10px;
  			margin-bottom: 10px;
  			letter-spacing: 0px;
  			color: #666666;
    	}

.tp-caption.insightfx_dark_box p {
  			font-size: 60%;
  			line-height: 20px;
  			margin-top: 10px;
            margin-bottom: 10px;
  			letter-spacing: 0px;
  			color: #eeeeee;
    	}

.tp-caption .btn {
  			letter-spacing: 0px;
        	margin-bottom: 0px;
  			color: #ffffff;	
      	}

.tp-caption .btn:hover {
       		color: #ffffff; 
      	}